*{
    margin: 0;
    padding: 0;
    color: #030452;
}
html{
    scroll-behavior: smooth;
}
.coverimage{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.151)), url(`books.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.navigation{
    width: 100%;
    margin: 0px 0 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 400px;
    user-select: none;
    -webkit-user-drag: none;
    height: 124px;
    padding: 5px;
    cursor: pointer;
    margin-left: 150px;
}
.navigation ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navigation ul li button{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
    background-color: transparent;
    overflow: hidden;
    font-size: 16px;
}
.navigation ul li button:hover{
    background-color: #ffffff;
    color: #030452;
    border-radius: 5px;
    overflow: hidden;
}
.navigation ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
.navigation ul li a:hover{
    background-color: #ffffff;
    color: #030452;
    border-radius: 5px;
}
.body h1{
    position: relative;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    top: 70px;
    margin-left: 30px;
    color: #030452;
    width: 50%;
}
.wrapper{
    position: absolute;
    right: 2%;
    top: 14%;
    width: 340px;
    height: 420px;
    background: transparent linear-gradient(rgba(0,0,0,0.4) rgba(0,0,0,0.4));
    border: 2px solid #030452;
    border-radius: 25px;
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background:#030452 ;
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #030452;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}
.btn{
    width: 100%;
    height: 45px;
    background: #030452;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.coverimage h1{
    font-size: 3.5em;
    color: #fff;
    margin-left: 250px;
    margin-top: 150px;
 
}
.coverimage h1 span{
    color: #fff;
    display: flex;
    text-align: left;
    overflow: hidden;
    height: 69px;
}
.coverimage p{
    color: #fff;
    font-size: 1.3em;
    margin-left: 250px;
    margin-top: 15px;
    width: 60%;
}
.loginbtn{
    width: 160px;
    padding: 15Px;
    text-align: center;
    margin: 40Px 0 0 250Px;
    border-radius: 10Px;
    font-weight: bold;
    border: 2Px solid #030452;
    background: transparent;
    color: #030452;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.loginbtn a{
    text-decoration: none;
    color: #fff;
}
.loginbtn:hover{
    border: 1px solid #ffffff ;
    background: #030452;
    color: #fff;
    transition: .5s;
} 
.row{
    color: #fff;
    width: 200px;
    padding: 20px;
    height: 70px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    margin: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    left: -170px ;
    bottom: -160px;
    font-weight: 600;
}
.row img{
    width: 80px;
    color: #fff;
    float: right;
}
.row:hover{
    box-shadow: 0px 0px 40px 0px rgba(247, 222, 222, 0.2);
}
.row a{
    text-decoration: none;
    color:#f87801 ;
    margin-top: 10px;
    position: relative;
    top: 10px;
    font-weight: bold;
}
@keyframes country{
    0%{margin-top: -188px;}
    5%{margin-top: -128px;}
    30%{margin-top: -128px;}
    35%{margin-top: -64px;}
    65%{margin-top: -64px;}
    70%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

.country{
    color: #030452;
    margin-left: 15px;
    box-sizing: border-box;
    animation: country 6s linear infinite;
}
.intro{
    width: 80%;
    margin: auto;
    
    padding-top: 80px;
    background-color: #ebe7e7;
    margin-top: 10px;
    border-radius: 9px;
    overflow: hidden;
}
.intro h1{
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
}
.intro p{
    color: #777;
    padding: 5px;
    text-align: start;
}
.style{
    width: 40%;
    padding: 30px;
    margin-left: 60px;
    font-size: 1.6rem;
}
.girls{
    position: relative;
    left: 611px;
    top: -530px;
    text-align: start;
    width: 5%;
    height: 400px;
}
.comit{
    height: 1px;
}
.sty{
    position: relative;
    font-size: 1.6rem;
    margin-left: 56px;
}
.styl{
    position: relative;
    font-size: 1.6rem;
    width: 40%;
    right: -850px;
    bottom: 500px;
    height: 1px;
}
.intro img{
    margin-top: 50px;
    width: 750px;
    border-radius: 50px;
    margin-left: 50px;
    padding: 30px;
}
.overall{
    width: 500px;
    display: block;
    padding: 60px 10px;
    position: relative;
    left: 900px;
    top: -520px;
    height: 3px;
}
.school{
    margin: 30px;
   display: block;
}
.school h1{
    text-align: start;
    padding-left: 10px;
    border-left: 5px solid #030452;
    color: #030452;
    font-size: 2em;
}
.school p{
    text-align: start;
}
.millan{
    margin: 50px auto;
    width: 85%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(book.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 10px;
    margin-top: 180px;
    padding: 20px;
}
.millan h1{
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}
.millan p{
    width: 80%;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
    margin: 20px 0px 0px 150px;
}
.millan img{
    width: 500px;
    height: 333px;
    margin-right: 20px;
    text-align: start;
    display: inline;
    border-radius: 10px;
}
.images{
    margin-top: 20px;
    width: 100%;
    padding-top: 50PX;
}
.layer{
    background: transparent;
    height: 40%;
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0,5s;
}
.layer:hover{
    background:  rgba(3, 3, 14, 0.596);
}
.layer h2{
    width: 90%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h2{
    bottom: 30%;
    opacity: 1;
}
.layer h3{
    width: 90%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.col{
    flex-basis: 32%;
    margin-bottom: 30px;
    position: relative;
    padding-right: 10px;
    justify-content: space-around;
    display: inline-block;
    overflow: hidden;
}
.footer{
    width: 100%;
    background: #030452d7;
    display: flex;
    text-align: center;
    flex-direction: row;
    overflow: hidden;
}
.column{
    padding: 40px;
    margin-right:50px;
    align-items: center;
    text-align: center;
}
.column h1{
    width: 200px;
    color: #fff;
    margin-left: -20px;
}
.quick{
    color: #fff;
    text-align: center;
    width: 350px;
}
.quick a{
    color: #fff;
    display: flex;
    text-decoration: none;
    margin: 20px;
    padding-left: 12px;
}
.quick a:hover{
    margin-left: 30px;
    color: #c3cf51;
    transition: 0.5s;
}
.quick h2{
    text-align: start;
    color: #fff;
    text-decoration: none;
    font-weight: 50;
    font-size: 1.2em;
    margin: 20px;
    padding-left: 10px;
    width: 450px;
}
.log{
    width: 136px;
    height: 121px;
    padding: 5px;
    cursor: pointer;
    margin-left: -10px;
    top: -40px;
    display: block;
}
.column P{
    text-align: start;
    color: #fff;
    width: 400px;
    margin-top: -40px;
}
.quick p{
    margin-left: 90px;
    color: #fff;
    display: inline;
    opacity: 0;
}
.quick h2:hover{
    margin-left: 30px;
    color: #c3cf51;
    transition: 0.5s;
}
.quick h2:hover p{
    color: coral;
    margin-left: 30px;
    transition: 1s;
    opacity: 1;
}
.create{
    display: inline-block;
    color: #fff;
    width: 350px;
    height: 1px;
}
.create p{
    display: inline;
    color: #fff;
    position: relative;
    top: -99px;
    left: 360px;
    font-size: 48px;
    opacity: 0;
}
.footer:hover .c{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 0.5s;
    opacity: 1;
}
.footer:hover .r{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 1s;
    opacity: 1;
}
.footer:hover .el{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 1.5s;
    opacity: 1;
}
.footer:hover .a{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 2s;
    opacity: 1;
}
.footer:hover .t{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 2.5s;
    opacity: 1;
}
.footer:hover .i{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 3s;
    opacity: 1;
}
.footer:hover .v{
    position: relative;
    left: 70px;
    color: #d8d512;
    transition: 3.5s;
    opacity: 1;
}
.web{
    position: relative;
    top: -60px;
    font-size: 30px;
    left: 360px;
    opacity: 0;
}
.footer:hover .web{
    position: relative;
    left: 150px;
    color: #d8d512;
    transition: 5s;
    opacity: 1;
}
.menu{
    display: none;
}
.close{ 
    display: none;
}
.about-coverimage{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 9, 36, 0.336),rgba(5, 14, 51, 0.637)), url(girls2.jpg);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.about-coverimage h1{
    font-size: 3rem;
    color: #fff;
    font-family: 'Times New Roman';
}
.introduction{
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin-top: 140px;
}
.introduction h1{
    font-family: 'Times New Roman';
    text-align: center;
    margin: 50px 50px 80px 50px;
    color: #030452;
    font-size: 2.5rem;
    padding-bottom: 20px;
    border-bottom: 2px solid #030452;

}
.pictures{
    display: inline;
    overflow: hidden;
}
.pictures img{
    width: 500px;
    height: 600px;
    border-radius: 10px;
}
.layer p{
    width: 90%;
    font-weight: 500;
    color: #d8d512;
    font-size: 22px;
    bottom: 0;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p{
    bottom: 30%;
    opacity: 1;
}
.located{
    margin-top: 120px;
}
.located h1{
    font-family: 'Times New Roman';
    text-align: center;
    margin: 50px 50px 80px 50px;
    color: #030452;
    font-size: 2.5rem;
    padding-bottom: 20px;
    border-bottom: 2px solid #030452;

}
.location{
    display: block;
    margin-left: 230px;
    padding: 20px;    
}
.location h2{
    display: block;
    margin: 10px;
}
.location p{
    display: inline-table;
    margin: 20px;
    margin-left: 30px;
}
.location img{
    width: 40%;
    height: 500px;
   position: relative;
   right: -700px;
   bottom: 400px;
   border-radius: 10px;
}
.google{
    height: 2px;
}
.best{
    font-family: 'Times New Roman';
    text-align: center;
    color: #030452;
    font-size: 1.5rem;
    padding-bottom: 20px;
    margin-top: 150px;
}
.divisions{
    padding: 100px;
    display: block;
}
.division{
    width: 300px;
    display: inline-block;
    transition: 0.2s ease;
}
.division:hover{
    transform: scale(1.04);
}
.division h1{
    font-size: 1.5rem;
}
.division p{
    font-size: 1.2rem;
    padding:10px ;
}
.past{
    width: 70%;
    background: #0304526e;
    padding: 20px;
    margin: 70px auto;
    border-radius: 10px;
}
.past h1{
    font-family: 'Times New Roman';
    text-align: center;
    margin: 50px;
    color: #030452;
    font-size: 2.1rem;
    height: 50px;
    display: flex;   
    justify-content: center; 
    overflow: hidden;
}
.result{
    margin: 15px 3px 15px 3px;
    box-sizing: border-box;
    animation: results 6s linear infinite;
    position: relative;
}
.result div{
    color: #ffffff;
    margin-top: 20px;
}
@keyframes results{
    0%{top: 160px;}
    5%{top: -35px;}
    30%{top: -35px;}
    35%{top: -92px;}
    65%{top: -92px;}
    70%{top: -149px;}
    100%{top: -149px;}
}
.success{
    width: 100%;
    margin-left: 70px;
}
.years{
    padding: 10px;
    display: inline-block;
    margin: 20px;
    margin-right: 40px;
}
.years h2{
    color: #091583;
    padding-bottom: 10px;
    padding-top: 30px;
}
.years span{
    padding-left:7px;
}
.download{
    width: 90px;
    border: 2px solid #030452;
    padding: 10px;
    color: #030452;
    background: transparent;
    border-radius: 10px;
    margin-left: 100px;
}
.download:hover{
    background: #030452;
    color: #fff;
}
.download a{
    color: #030452;
    text-decoration: none;
}
.download:hover a{
    color: #fff;
}
.high ul li a{
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #030452;
    font-weight: 700;
    font-size: 20px;
}
.update{
    width: 90px;
    border: 2px solid #ffffff;
    padding: 10px;
    color: #030452;
    background: #ff0000;
    border-radius: 10px;
    margin-left: 100px;
}
.update:hover{
    background: #030452;
    color: #fff;
}
.update a{
    color: #030452;
    text-decoration: none;
}
.update:hover a{
    color: #fff;
}
.contact-coverimage{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(2, 9, 36, 0.336),rgba(5, 14, 51, 0.637)), url(pic2.jpg);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.contact-coverimage h1{
    font-size: 3rem;
    color: #fff;
    font-family: 'Times New Roman';
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #030452;
}
.frame{
    width: 500px;
    height: 600px;
    background: #030452;
    border-radius: 105px;
    position: absolute;
    left: 60%;
    margin: 110px;
}
.email{
    display: block;
    padding: 50px;
    text-align: center;
}
.email h1{
    color: #fff;
    margin-bottom: 20px;
}
.space{
    color: #fff;
    padding: 20px;
    text-align: start;
    font-size: 1rem;
    width: 360px;
    background: #091583;
    margin-bottom: 25px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
}
.inter{
    margin-left: 30px;
}
.inter h2{
    color: #fff;
}
.inter p{
    color: #fff;
    margin-top: 10px;
}
.space img{
    width: 10%;
    height: 50%;
}
.space:hover{
    transform: scale(1.04);
    box-shadow: 2px 2px 2px #fff;
}
.comment{
    width: 700px;
    height: 600px;
    border: 1px solid #030452;
    position: relative;
    left: 10%;
    margin: 110px;
    border-radius: 24px;
    background: #d7dbe9;
}
.block{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.names{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 50px;
}
.name-box label{
    font-weight: bold;
    margin-right: 20px;
}
.name-box input{
    height: 30px;
    background: transparent;
    color: #131313;
    font-weight: 700;
    border-radius: 10px;
    border:1px solid #030452;
    padding-left: 10px;
    padding-right: 10px;
}
.email-box{
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.email-box label{
    font-weight: bold;
    margin-right: 20px;
}
.email-box input{
    height: 30px;
    width: 80%;
    background: transparent;
    color: #131313;
    font-weight: 700;
    border-radius: 10px;
    border:1px solid #030452;
    padding-left: 10px;
    padding-right: 10px;
}
.message-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
    
}
.message-box label{
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 20px;
}
.message-box input{
    background: transparent;
    color: #131313;
    font-weight: 700;
    border-radius: 10px;
    height: 160px;
    border:1px solid #030452;
    padding: 25px;
}
.sendbtn{
    border: 2px solid #030452;
    padding: 5px;
    color: #030452;
    background: transparent;
    width: 100px;
    border-radius: 9px;
    margin-left: 43px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
}
.sendbtn:hover{
    color: #fff;
    background: #030452;
    border: 2px solid #fff;
}
.anime-frame{
    height: 150px;
    width: 150px;
    background: #030452;
    border-radius: 10px;
    position: relative;
    right: -800px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.anime{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime 5s infinite;
    position: absolute;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes anime{
    50%{
        transform: rotate(360deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime1{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime1 5s infinite;
    position: absolute;
}
@keyframes anime1{
    50%{
        transform: rotate(160deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime2{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime2 5s infinite;
    position: absolute;
}
@keyframes anime2{
    50%{
        transform: rotate(140deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime3{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime3 5s infinite;
    position: absolute;
}
@keyframes anime3{
    50%{
        transform: rotate(120deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime4{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime4 5s infinite;
    position: absolute;
}
@keyframes anime4{
    50%{
        transform: rotate(100deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime5{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime5 5s infinite;
    position: absolute;
}
@keyframes anime5{
    50%{
        transform: rotate(80deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime6{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime6 5s infinite;
    position: absolute;
}
@keyframes anime6{
    50%{
        transform: rotate(60deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime7{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime7 5s infinite;
    position: absolute;
}
@keyframes anime7{
    50%{
        transform: rotate(40deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.anime8{
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    animation: anime8 5s infinite;
    position: absolute;
}
@keyframes anime8{
    50%{
        transform: rotate(20deg);
        border-top-right-radius: 320px;
        border-bottom-left-radius: 320px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 90px;
    }
}
.gallery{
    height: 20vh;
    width: 100%;
    background: #030452;
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.zoom{
    padding: 50px;
}
.zoom-in{
    text-align: center;
}
.zoom-in img{
    width: 720px;
    height: 540px;
    transition: 0.5s ease;
}
.zoom-in img:hover{
    transform: scale(1.02);
}
.iron.active{
    background: #aebbe7;
    width: auto;
    border-radius: 10px;
    position: absolute;
    top: 32%;
    right: 45%;
    display: block;
}
.iron{
    display: none;
}
.js{
    display: flex;
    padding: 30px;
    flex-direction: column;
}
.js label{
    font-weight: 300;
    padding-bottom: 5px;
    color: #131313;
    font-family: 'Times New Roman', Times, serif;
}
.js input{
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
    height: 30px;
    font-weight: 300;
}
.js button{
    padding: 10px;
    border-radius: 10px;
    background: #dad6d6;
    font-weight: 500;
}
.js button:hover{
    color: #ebe7e7;
    background: #091583;
}










@media(max-width:1500px){
html{
    font-size: 80%;
}
.navigation{
    width: 100%;
    margin: 0px 0 0px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 350px;
    height: auto;
    margin-left: 100px;
}
.navigation ul li button{
    padding: 5px 15px;
    font-size: 12.8px;
    font-family: 'Times New Roman', Times, serif;
}
.navigation ul li a{
    padding: 5px 15px;
}
.body h1{
    position: relative;
    font-size: 0px;
    font-family: 'Times New Roman', Times, serif;
    top: 0px;
    margin-left: 0px;
    color: #030452;
    width: 50%;
}
.coverimage h1{
    margin-left: 200px;
    margin-top: 130px;
}
.coverimage h1 span{
    height: 45px;
}
.coverimage p{
    margin-left: 200px;
    margin-top: 15px;
    font-size: 18px;
}
.loginbtn{
    margin: 40Px 0 0 200Px;
}
.loginbtn a{
    text-decoration: none;
    color: #fff;
}
.loginbtn:hover{
    transition: .5s;
    box-shadow: 0px 0px 40px #131313;
} 
.row{
    width: auto;
    margin: 20px 20px;
    left: -186px ;
    bottom: -146px;
}
.row img{
    width: 68px;
    margin: 0 10px 0 10px;
}
.row a{
    margin-top: 0px;
    top: 15px;
}
@keyframes country{
    0%{margin-top: -168px;}
    5%{margin-top: -102px;}
    30%{margin-top: -102px;}
    35%{margin-top: -51px;}
    65%{margin-top: -51px;}
    70%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

.intro{
    width: 90%;
    padding-top: 70px;
}
.intro h1{
    font-size: 2.7em;
}
.intro p{
    font-size: 20px;
}
.girls{
    left: 525px;
    top: -409px;
    height: 321px;
}
.styl{
    width: 38%;
    right: -757px;
    bottom: 404px;
}
.intro img{
    margin-top: 50px;
    width: 653px;
    border-radius: 50px;
    margin-left: 50px;
    padding: 30px;
}
.overall{
    width: 500px;
    left: 729px;
    top: -485px;
    height: 5px;
}
.millan{
    width: 90%;
}
.millan h1{
    font-size: 2.4em;
}
.millan p{
    width: 80%;
    font-size: 1.5em;
}
.millan img{
    width: 401px;
    display: block;
}
.images{
    display: flex;
    justify-content: space-between;
}
.layer{
    width: 401px;
}
.layer h3{
    width: 90%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.column{
    padding: 30px;
    margin-right:-30px;
}
.calumn{
    width: 179px;
}
@keyframes results{
    0%{top: 160px;}
    5%{top: -35px;}
    30%{top: -35px;}
    35%{top: -85px;}
    65%{top: -85px;}
    70%{top: -137px;}
    100%{top: -137px;}
}
.menu{
    display: none;
}
.close{ 
    display: none;
}
.introduction h1{
    margin: 50px 385px 80px 407px;
}
.pictures img{
    width: 395px;
    height: 488px;
}
.location{
    margin-left: 50px;  
}
.location img{
    width: 50%;
    height: auto;
   right: -500px;
   border-radius: 20px;
}
.divisions{
    padding: 80px 0px;
}
.division{
    width: 227px;
}
.past{
    width: 95%;
}
.high ul li a{
    text-decoration: none;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #030452;
    font-weight: 700;
    font-size: 20px;
}
.update{
    width: 90px;
    border: 2px solid #ffffff;
    padding: 10px;
    color: #030452;
    background: #ff0000;
    border-radius: 10px;
    margin-left: 100px;
}
.update:hover{
    background: #030452;
    color: #fff;
}
.update a{
    color: #030452;
    text-decoration: none;
}
.update:hover a{
    color: #fff;
}
.frame{
    left: 50%;
}
.comment{
    width: 635px;
    left: -4%;
}
.anime-frame{
    right: -570px;
}
}




























@media(max-width: 800px){
    html{
        font-size: 55%;
        
    }
    .coverimage{
        background-image: linear-gradient(rgba(4, 9, 30, 0.39),rgba(4, 9, 30, 0.5)), url(green.jpeg);
        background-position: 30%;
    }
    .navigation{
        justify-content: flex-end;
        height: 100px;
    }
    .navigation ul{
        top: 0;
        position: absolute;
        right: 100%;
        width: 100%;
        height: 44vh;
        background: #030452;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .navigation ul li a{
        display: block;
        font-size: 3rem;
        font-weight: bolder;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid #fff;
        border-radius: 10px;
        text-align: start;
        background: linear-gradient(90deg,rgba(15, 7, 131, 0.897),rgba(255, 255, 255, 0.808));
    }
    .navigation ul li button{
        border-radius: 10px; 
        width: 95%; 
        text-align: start;
        margin: 1rem;
        border: 2px solid #fff;
        background: linear-gradient(90deg,rgba(15, 7, 131, 0.897),rgba(255, 255, 255, 0.808));
        font-size: 12.32px;
        font-family: 'Times New Roman';
    }
    .wrapper{
        position: absolute;
        right: 8%;
        top: 14%;
        width: 340px;
        height: 420px;
        background: transparent linear-gradient(rgba(0, 0, 0, 0.5) rgba(0,0,0,0.4));
        border: 2px solid #030452;
        border-radius: 25px;
        backdrop-filter: blur(20px);
        justify-content: center;
        align-items: center;
        transform: scale(0);
        font-size: 100%;
    }
    .wrapper .form.login{
        padding: 40px;
        width: 100%;
        font-size: 2rem;
    }
    .menu{
        display: flex;
        width: 7%;
        position: relative;
        top: -13px;
        right: 19px;
    }
    .navigation.active .close{
        display: flex;
        width: 5%;
        position: relative;
        top: -23px;
        right: 15px;
        transform: rotate(180deg);
    }
    .navigation.active ul{
        right: 0;
    }
    .navigation.active .menu{
        display: none;
    }
    .navigation.active .country{
        display: none;
    }
    .coverimage{
        width: 100%;
        height: auto;
    }
    .coverimage h1{
        margin-left: 30px;
        font-size: 3em;
        margin-top: 60px;
    }
    .coverimage h1 span{
        height: 62px;

    }
    .coverimage p{
        font-size: 2em;
        margin-left: 30px;
        margin-top: 15px;
        width: 303px;
    }
    .loginbtn{
        margin: 20Px 0 0 30Px;
        background-color: #030452;
        padding: 20px;
        color: #fff;
        width: 120px;
        padding: 10Px;
        border-radius: 10Px;
    }
    .about-coverimage .logo{
        display: none;
    }
    .about-coverimage h1{
        margin-top: -31px;
    }
    .contact-coverimage .logo{
        display: none;
    }
    .logo{
        margin-left: 50px;
        width: 225px;
        height: 67px;
        margin-right: 85px;
    }
    @keyframes country{
        0%{margin-top: -158px;}
        5%{margin-top: -108px;}
        30%{margin-top: -108px;}
        35%{margin-top: -54px;}
        65%{margin-top: -54px;}
        70%{margin-top: 0px;}
        100%{margin-top: 0px;}
    }
    .row{
        color: #fff;
        width: 250px;
        height: 70px;
        background:linear-gradient(rgba(3, 12, 90, 0.6),rgba(5, 3, 87, 0.6));
        margin: 0px 0px 15px;
        border-radius: 20px;
        display: block;
        font-size: 2em;
        left: 35px;
        bottom: -10px;
        text-align: end;
    }
    .row img{
        width: 80px;
        color: #fff;
        float: left;
    }
    .row a{
        color:#d8d512 ;
        font-size: 15px;
        top: 10px;
    }
    .navigation ul li a{
        color: #ffffff;
        font-weight: bolder;
        padding: 5px 20px;
        font-size: 1.4em;
    }
    .overall{
        width: 350px;
        left: 0px;
        top: 0px;
        height: auto;
        margin-left: -14px;        
        padding: 20px 0 0 0px;
    }
    .school{
        margin: 20px;
       display: block;
    }
    .school h1{
        text-align: start;
        padding-left: 10px;
        border-left: 5px solid #030452;
        color: #030452;
    }
    .images{
        display: block;
        overflow: hidden;
    }
    .country{
        position: absolute;
        right: 100px;
        top: 224px;
        animation: none;
    }
    .country div:first-child{
        display: none;
    }
    .country div:last-child{
         display: none;
    }
    .intro{
        width: 95%;
        padding-top: 20px;
    }
    .intro h1{
        margin-bottom: 4px;
        font-size: 2em;
    }
    .intro p{
        font-size: 1.5rem;
        width: 321px;
        text-align: left;
        margin-left: 8px;
        padding: 0;
    }
    .intro img{
        margin-top: 2px;
        width: 325px;
        border-radius: 20px;
        margin-left: 5px;
        padding: 5px;
    }
    .school h1{
        border-left: 3px solid #030452;
    }
    .millan{
        width: 90%;
        margin-top: 50px;
        padding: 10px;
    }
    .millan h1{
        font-size: 2.4rem;
    }
    .millan p{
        font-size: 1.5rem;
        margin: 20px 0px 0px 0px;
        width: 100%;
    }
    .millan img{
        width: 323px;
        height: 230px;
        border-radius: 10px;
        text-align: center;
    }
    .images{
        margin-top: 10px;
        padding-top: 30PX;
    }
    .layer{
        width: 354px;
    }
    .layer:hover h2{
        bottom: 40%;
        font-size: 18px;
    }
    .footer{
        display: block;
        font-size: 15px;
    }
    .quick a{
        margin: 20px 0 20px 0px;
        padding-left: 0;
        width: 70%;
    }
    .column{
        padding: 10px;
        margin-right: 1px;
    }
    .column p{
        width: 330px;
    }
    .column h1{
        margin-left: 0px;
        text-align: start;
        border-bottom: 1px solid #fff;
        width: 155px;
    }
    .quick h2{
        margin:20px 0 20px 0;
        padding-left: 1px;
        width: 400px;
    }
    .quick h2:hover{
        margin-left: 2px;
    }
    .quick h2:hover p{
        margin-left: 20px;
    }
    .quick p{
        margin-left: 60px;
    }
    .log{
        text-align: start;
        margin-left: -20px;
        position: relative;
        display: block;
        top: -10px;
    }
    .create{
        font-size: 1px;
    }
    .footer:hover .c{
        left: 53px;
    }
    .footer:hover .r{
        left: 53px;
    }
    .footer:hover .el{
        left: 53px;
    }
    .footer:hover .a{
        left: 53px;
    }
    .footer:hover .t{
        left: 53px;
    }
    .footer:hover .i{
        left: 53px;
    }
    .footer:hover .v{
        left: 53px;
    }
    .footer:hover .web{
        left: 119px;
    }
    .about-coverimage{
        height: 20vh;
    }
    .about-coverimage .navigation h1{
        position: relative;
        bottom: -30px;
    }
    .about-coverimage .navigation.active h1{
        display: none;
    }
    .introduction{
        width: 100%;
        padding: 0px;
        margin-top: 40px;
    }
    .introduction h1{
        padding-bottom: 10px;
        margin: 50px 73px 25px 73px;
        color: #030452;
        font-size: 2.5rem;
    }
    .pictures img{
        width: 350px;
        height: 400px;
        padding: 4px;
    }
    .located{
        margin-bottom: 70px;
        margin-top: 10px;
    }
    .located h1{
        padding-bottom: 10px;
        margin-bottom: 2px;
        margin: 50px 46px 25px 46px;
    }
    .location{
        margin-left: 0px;
        padding: 5px;    
    }
    .location h2{
        margin: 10px;
        margin-left: 30px;
    }
    .col{
        padding-right: 0px;
    }
    .big{
        font-size: 2rem;
    }
    .location img{
        width: 100%;
        height: 300px;
        border-radius: 10px;
       right: 0px;
       bottom: 0px;
    }
    .google{
        height: 2px;
    }
    .best{
        margin-top: 70px;
    }
    .best h1{
        font-size: 3rem;
        border-bottom: 2px solid #030452;
        padding-bottom: 5px;
    }
    .divisions{
        margin-top: 30px;
        padding: 1px;
    }
    .division{
        margin-bottom: 25px;
        width: 250px;
    }
    .division h1{
        font-size: 1.9rem;
        border-bottom: none;
    }
    .division p{
        font-size: 1.6rem;
        padding:1px ;
    }
    .past{
        width: 95%;
        padding: 1px;
        margin: 2px 2px 2px 7px;
    }
    .past h1{
        margin: 40px 10px 10px 10px;
        font-size: 2.4rem;
        height: 30px;
    }
    .result div{
        color: #091583;
    }
    @keyframes results{
        0%{top: 160px;}
        5%{top: -35px;}
        30%{top: -35px;}
        35%{top: -80px;}
        65%{top: -80px;}
        70%{top: -125px;}
        100%{top: -125px;}
    }
    .success{
        margin-left: 25px;
    }
    .years{
        padding: 1px 1px 40px;
        margin: 0px 15px ;
        border-bottom: 2px solid #030452;
    }
    .years:last-child{
        border-bottom: none;
    }
    .years:nth-child(3){
        border-bottom: none;
    }
    .years h2{
        padding-bottom: 10px;
        padding-top: 20px;
        font-size: 2.4rem;
    }
    .years span{
        padding-left:7px;
    }
    .style{
        width: 100%;
        margin-left: 0px;
        text-align: start;
    }
    .girls{
        left: 0px;
        top: 0px;
        width: 5%;
        height: 218px;
    }
    .comit{
        height: 220px;
    }
    .sty{
        top: 5px;
    }
    .styl{
        width: 100%;
        right: -0px;
        bottom: 0px;
        height: 254px;
    }
    .download{
        margin: 50px;
    }
    .frame{
        width: 344px;
        height: 500px;
        background: #030452;
        border-radius: 15px;
        left: 0%;
        margin: 10px;
        position: relative;
    }
    .email{
        padding: 10px;
        display: block;
    }
    .email h1{
        font-size: 2rem;
    }
    .space{
        font-size: 1.5rem;
        width: 275px;
        border-radius: 10px;
    }
    .comment{
        width: 330px;
        height: 600px;
        left: 0%;
        margin: 10px;
  
    }
    .block{
        flex-direction: column-reverse;
    }
    .names{
        flex-direction: column;
        padding: 0px;
        margin-top: 30px;
    }
    .name-box{
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        margin-left: 30px;
    }
    .name-box label{
        font-size: 2rem;
        margin-left: 3px;
        margin-bottom: 10px;
    }
    .name-box input{
        width: 90%;
    }
    .email-box{
        padding: 0px;
        margin-top: 0px;
        margin-left: 30px;
    }
    .email-box label{
        margin-left: 5px;
        font-size: 2rem;
    }
    .email-box input{
        width: 90%;
    }
    .message-box{
        padding: 0;
        margin-top: 30px;
        margin-left: 30px;
        width: 87%;
        
    }
    .message-box label{
        font-size: 2rem;
        margin-left: 5px;
        margin-bottom: 0px;
    }
    .message-box input{
        padding: 10px;
    }
    .sendbtn{
        font-size: 1.5rem;
        margin-left: 30px;
        margin-top: 20px;
    }
    .anime-frame{
        right: -130px;
    }
    .gallery{
        height: 15vh;
        position: relative;
    }
    .zoom{
        padding: 0px;
    }
    .zoom-in{
        text-align: center;
    }
    .zoom-in img{
        width: 335px;
        height: 271px;
    }
    
}